<% if book_id.favorited_by?(current_user) %>
<li>
    <%= link_to book_favorites_path(book_id), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    <%= book_id.favorites.count %> いいね
    <% end %>
</li>
<% else %>
<li>
    <%= link_to book_favorites_path(book_id), method: :post do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= book_id.favorites.count %> いいね
    <% end %>
</li>
<% end %>