<% user ||= current_user %>
<div class="stats">
  <tr>
    <th>following</th>
    <td><%= link_to user.followings.count, following_user_path(@user) %></td>
  </tr>
  <tr>
    <th>followers</th>
    <td><%= link_to user.followers.count, followers_user_path(@user) %></td>
  </tr>
</div>