<body>
	<div class="container">
		<div class="row">
			<div>
				<h1>welcome to Bookers !!</h1>
				<p>In Bookers,</p>
				<p>ffffffffffffffffffffffff</p>
				<div>
					<div class="row">
						<p><a href="/users/sign_in">Log In</a></p>
					</div><!-- /.row -->
					<div class="row">
						<p><a href="/users/sign_up">Sign Up</a></p>
					</div><!-- /.row -->
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</body>