/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}



header .navbar-left span {
	font-size: 20px;
    padding-top: 10px;
    color: white;
}
.body {
	margin-top: 60px;
}
.link {
	color: #666;
}
.hover:hover {
	background: black;
}
.field {
	margin-bottom: 10px;
}
.mb-5px {
	margin-bottom: 5px;
}
.actions {
	margin-bottom: 10px;
}
